// Container
.container {
  max-width: 1790px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

// Body & Locked
body {
  font-family: $fontMain;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
